*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);

  --ff-inter: "Inter", sans-serif;
  --ff-lexenda: "Lexend Deca", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs: 15px;

  font-optical-sizing: auto;
}

body {
  height: 100vh;
  background-color: var(--main-background);
  display: grid;
  place-items: center;
  color: var(--main-heading);
  font-family: var(--ff-inter);
  font-size: var(--fs);
}

.component {
  background-color: var(--card-background);
}

.component-text-container {
  padding: 2em 0;
}

.component-main-text {
  margin-bottom: 3em;
  padding: 0 2em;
}

.component-title {
  font-weight: 600;
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.6em;
  line-height: 1.15em;
  padding: 0 1px;
}

.component-title span {
  color: var(--accent);
}

.component-description {
  color: var(--main-paragraph);
  text-align: center;
  font-size: 1.05rem;
  padding: 0 0.5em;
}

.component-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.stat-number {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.15em;
}

.stat-name {
  text-transform: uppercase;
  text-align: center;
  color: var(--stat-heading);
  letter-spacing: 0.15em;
  font-family: var(--ff-lexenda);
  font-size: 0.8rem;
  font-weight: 200;
}
